.cache
.claude
.coverage/
.DS_Store
.idea
.tempo.yaml
.vscode
*.out
*.pprof
*.test
/.envrc
/bin
/cmd/tempo-cli/tempo-cli
/cmd/tempo-query/tempo-query
/dist
/example/docker-compose/**/gcs-data/
/example/docker-compose/**/tempo-data/
/operations/jsonnet/microservices/test/outputs
/operations/jsonnet/microservices/test/vendor
/pkg/traceql/y.output
/target
/tempo
/tempo-query
/tempo-vulture
/tempodb/encoding/benchmark_block
/tmp
gh-token.txt
integration/e2e/**/e2e_integration_test[0-9]*
operations/jsonnet/microservices/vendor/
private-key.key
