# This workflow checks the provided PR and creates backport PRs for each target branch
# based on the "backport <release>" labels present on the provided PR.
# At this time only squashed PRs are supported since the cherry-pick
# command does not include "-m <n>" arg required for merge commits.
name: Backport PR
on:
  workflow_dispatch:
   inputs:
      pr_number:
        description: 'PR number to backport'
        required: true
        type: number

permissions: {}

jobs:
  main:
    # skip it in all forks, only run in grafana/tempo.
    if: github.repository == 'grafana/tempo'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - run: git config user.name "tempo-ci-bot[bot]"
      - run: git config user.email "tempo-ci-bot@grafana.com"
      
      - name: Run backport
        uses: grafana/grafana-github-actions-go/backport@main
        with:
          token: ${{ github.token }}
          labelsToAdd: "backport"
          repo_owner: oleg-kozlyuk-grafana
          repo_name: tempo
          pr_number: ${{ github.event.inputs.pr_number }}
